image {
	width: 100%; /* 图片宽度为100% */
	height: 100%; /* 图片高度为100% */
}
.flex {
	display: flex;
}
.justify-center {
	justify-content: center;
}
.justify-start {
	justify-content: flex-start;
}
.justify-end {justify-content: flex-end;}
.justify-between	{justify-content: space-between;}
.justify-around	{justify-content: space-around;}
.justify-evenly	{justify-content: space-evenly;}
.justify-stretch	{justify-content: stretch;}
.items-start	{align-items: flex-start;}
.items-end	{align-items: flex-end;}
.items-center	{align-items: center;}
.items-baseline	{align-items: baseline;}
.items-stretch	{align-items: stretch;}
.image-bg {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
